<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'script/index.js' %}"></script>
    <title>LOGIN</title>
</head>
<body>
    <h1>게시판 페이지입니다</h1>
    <!-- 게시판(postlist)의 게시글(list)을 하나씩 보여줍니다 -->
    <!-- {와 %로 이루어진 구문 내부엔 파이썬이 사용됩니다 -->
    <table>
    {% for list in postlist %}
        <!-- 게시글 클릭시 세부페이지로 넘어갑니다-->
        <ul>
            <li><a href="{{list.pk}}/">{{list.postname}}</a></li>
        </ul>
    {% endfor %}
    </table>
</body>
</html>