<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% if form.errors %}
    {% for field in form %}
       {% for error in field.errors %}
            <strong>{{ field.label }}</strong>
            {{ error }}
        {% endfor %}
    {% endfor %}
    {% for field in form %}
        <strong>{{ error }}</strong>
    {% endfor %}
{% endif %}
</body>
</html>