<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <script type="text/javascript" src="{% static 'script/index.js' %}"></script>
  <title>Bulletin Board</title>
</head>
<body>
  <table class="logintable">
    <tr>
      <th class="titleinfo"><h1>Bulletin Board</h1></th>
      {% if user.is_active %}
      <th class="logininfo"><a>{{ user.first_name }}{{ user.last_name }}</a><br><a href="{% url 'logout' %}">LOGOUT</a></th>
      {% else %}
      <th class="logininfo"><a href="/login/">LOGIN</a><br><a href="/signup/">SIGNUP</a></th>

      {% endif %}
    </tr>
  <table class="mainpost">
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>Title</th>
      <th>Posted By</th>
    </tr>
    {% for post in posts %}
    <tr>
      <td><a href="posting/{{post.no}}">{{post.no}}</td>
      <td>{{post.date}}</td>
      <td>{{post.title}}</td>
      <td>{{post.writer}}</td>
    </tr>
    {% endfor %}
    <!-- Add more rows for additional bulletin board entries -->
  </table>
  {% if user.is_active %}
  <div>
    <a href="/new_post/">POSTING</a>
  </div>
  {% else %}
    <a href="/login/">POSTING</a>
  {% endif %}
</body>
</html>