<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <script type="text/javascript" src="{% static 'script/index.js' %}"></script>
  <title>Bulletin Board</title>
</head>
<body>
  <div class="benner">
    <h1>Bulletin Board</h1>
  </div>
  {% if user.is_auhenticated %}
  <p>HELLO {{ user.username }}</p>
  <div class="benner">
    <a href="index/">LOGOUT</a>
  </div>
  {% else %}
  <p>HELLO {{ user.username }}</p>
  <div class="benner">
    <a href="/login/">LOGIN</a>
  </div>
  {% endif %}
  <div class="benner">
    <a href="{% url 'logout' %}">LOGOUT</a>
  </div>
  <table>
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>Title</th>
      <th>Posted By</th>
    </tr>
    <tr>
      <td>2</td>
      <td>2023-06-01</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td>Admin</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2023-05-29</td>
      <td>Just a friendly reminder about the upcoming meeting.</td>
      <td>John Doe</td>
    </tr>
    <!-- Add more rows for additional bulletin board entries -->
  </table>
  <div>
    <a href="/new_post/">POSTING</a>
  </div>
</body>
</html>