<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'script/login.js' %}"></script>
    <title>LOGIN</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}"> 
        {% csrf_token %} 
        <div>
            <label for="User">ID</label>
            <input name="username" type="text">
        </div>
        <div>
            <label for="User">PASSWORD</label>
            <input name="password" type="password">
        </div>
        <div class="impo">
            <button type="submit">LOGIN</button>
        </div>
    </form>
    <div class="impo">
        <a href="/signup/">SING-UP</a>
    </div>
    {{ error_message }}
</body>
</html>