<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting.css' %}">
    <script type="text/javascript" src="{% static 'script/posting.js' %}"></script>
    <title>LOGIN</title>
</head>
<body>
    <h1>BLOG</h1>
    <p>TILTE</p>
    <p>{{post.title}}</p>
    <p>CONTENT</p>
    <p>{{post.message}}</p>
    <!-- 이미지 보여주기 -->
    {% if post.mainphoto %}
        <img src = "{{ post.mainphoto.url }}" alt="" height="600">
        <br>
    {% endif %}
    <a href="/">목록</a>
</body>
</html>