<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting.css' %}">
    <script type="text/javascript" src="{% static 'script/posting.js' %}"></script>
    <title>LOGIN</title>
</head>
<body>
  <h1>BLOG - DETAIL</h1>

  <div class="post">
    <h3>{{post.title}}</h3>
    <p>{{post.message}}</p>
    <p>Posted By: {{post.writer}}</p>
    <p>Date: {{post.date}}</p>
    <div class="actions">
      <a href="/edit-post">FIX</a>
      <a href="/delete-post">DELETE</a>
      <a href="/">MAIN</a>
    </div>
  </div>
  <div>
    <p>{{subpost.comentno}}</p>
  </div>
  <form method="POST">
    {% csrf_token %}
    COMENT
    <input type="text" name="coment">
    <input type="hidden" name="comentwriter" value="{{ user.first_name }}{{ user.last_name }}">
    <input type="submit" value="POST">
</form>

</body>
</html>