<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}">
    <script type="text/javascript" src="{% static 'script/write.js' %}"></script>
    <title>LOGIN</title>
</head>
<body>
    <h1>BLOG POSTING</h1>
    <form method="POST">
        {% csrf_token %}
        TITLE<br>
        <input type="text" name="title"><br>
        CONTENT<br>
        <textarea rows="10" cols="50" name="message"></textarea><br>
        <input type="file" name="image" value="IMAGE"><br>
        <input type="hidden" name="writer" value="{{ user.first_name }}{{ user.last_name }}">
        <input type="submit" value="POST">
    </form>
    <a href="/">MENU</a>
</body>
</html>